* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --darkBlue: #003060;
  --lessDarkBlue: #005C9D;
  --lightBlue: #0E86D4;
  --veryLightBlue: #68BBE3;
  --white: #ffffff;
  --visbyExtraBold: 'Montserrat', sans-serif;
  --visbySemibold: 'Montserrat', sans-serif;
  --visbyLight: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--visbySemibold);
}

h2 {
  color: var(--veryLightBlue);
  font-weight: 900;
}

p {
  font-family: var(--visbyLight);
  line-height: 28px;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn_style {
  color: var(--white);
  background-color: var(--lightBlue);
  padding: 14px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  font-family: var(--visbySemibold);
}

.btn_style:hover {
  color: var(--white);
  background-color: var(--lessDarkBlue);
  transform: scale(0.95);
  box-shadow: 0 12px 24px -10px rgb(21 59 93 / 46%);
}

.btn_stylish {
  color: var(--darkBlue);
  border: 1px solid var(--darkBlue);
  padding: 14px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  font-family: var(--visbySemibold);
}

.relative {
  position: relative;
}

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 75;
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.nav {
  padding: 10px;
}

.header,
.nav {
  color: var(--white);
  background-color: var(--darkBlue);
}

.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.header_address p {
  margin: 0;
  text-align: right;
  letter-spacing: 1px;
  font-size: 13px;
  border-left: 1px solid;
  padding-left: 30px;
  font-family: var(--visbySemibold);
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .container .relative ul.drop {
  position: absolute;
  top: 45px;
  left: 0;
  display: flex;
  flex-direction: column;
  color: #000;
  background-color: var(--white);
  border: 1px solid #ccc;
  min-width: 260px;
  display: none;
  z-index: 1;
}

.nav .container .relative:hover ul.drop {
  display: block;
}

.nav .container .relative ul.drop li {
  border: 1px solid #ccc;
  width: 100%;
  transition: all 0.3s ease;
}

.nav .container .relative ul.drop li:hover {
  color: var(--white);
  background-color: var(--veryLightBlue);
  border: 1px solid var(--veryLightBlue);
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .container>ul>li>a:hover {
  color: var(--veryLightBlue)
}

.nav li a {
  padding: 12px 13px 12px;
  font-family: var(--visbySemibold);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  display: block;
}

.nav p {
  margin: 0;
  font-family: var(--visbySemibold);
}

.nav p a {
  color: var(--veryLightBlue)
}

.hero {
  background-image: url('./assets/images/hero_bg.jpg');
  background-size: cover;
  padding-top: 30px;
}

.hero_obj {
  max-width: 400px;
}

.hero .row {
  align-items: center;
}

.hero h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-family: var(--visbyExtraBold);
  color: var(--veryLightBlue);
  padding-bottom: 30px;
}

.hero h1 {
  font-size: 36px;
  text-transform: uppercase;
  font-family: var(--visbyExtraBold);
  color: var(--darkBlue);
  padding-bottom: 15px;
}

.hero p {
  font-family: var(--visbySemibold);
  color: #444;
  padding-bottom: 30px;
}

#textSlider {
  overflow: hidden;
  height: 100px;
}





/* ==== Srijan Css Add ==== */

.heading_style {
  font-size: 36px;
  text-transform: uppercase;
  font-family: var(--visbyExtraBold);
  color: var(--darkBlue);
  padding-bottom: 15px;
}


/* ===== Features card style start ===== */
.overflow_top {
  transform: translateY(-85px);
}

@media only screen and (max-width: 999px) {
  .overflow_top {
    transform: translateY(-60px);
  }
}

.feature_item {
  background-color: var(--white);
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
  transition: all .5s;
}

.feature_item:hover {
  box-shadow: 0 15px 15px rgb(0 0 0 / 15%);
  transform: translateY(-5px);
}

.caption {
  padding: 30px;
}

.feature_item>i {
  color: var(--veryLightBlue);
  font-size: 36px;
  margin: 0;
  padding: 30px 30px 0 30px;
}

.caption>h2 {
  font-weight: 700;
  line-height: 35px;
  font-size: 20px;
  margin-top: 0;
  color: var(--darkBlue);
  margin-bottom: 15px;
}

/* ===== Features card style end ===== */

/* ===== About us style start ===== */
.margin-top-100 {
  margin-top: 100px;
}

.img-box img {
  max-width: 100%;
  display: block;
  position: relative;
  border-radius: 3px;
  transition: all .5s;
}

.title {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 30px;
}

.title h2 {
  font-size: 28px;
  line-height: 40px;
  color: var(--darkBlue);
}

.title p {
  text-transform: uppercase;
  font-weight: 700;
  margin: -2px 0 2px 0;
  color: var(--veryLightBlue);
}

.box-sign {
  margin-top: 60px;
  padding: 36px 15px 0 120px;
  position: relative;
}

.box-sign img {
  position: absolute;
  left: 0;
  top: 0;
}

.box-sign b {
  font-weight: 800;
  font-size: 16px;
}

.box-sign span {
  display: block;
  line-height: 15px;
}

/* ===== About us style end ===== */

/* ===== Our industries section starts===== */
.section-color {
  background-color: rgb(228, 237, 243);
}

.text_color_light_blue {
  color: var(--lightBlue) !important;
}

.industries_items {
  background-color: var(--white);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
  transition: all .5s;
  min-height: 260px;
}

.industries_items:hover {
  border-bottom: 5px solid #003060;
  box-shadow: 0 15px 15px rgb(0 0 0 / 15%);
  transform: translateY(-5px);
}

.industries_items:hover h2 {
  color: var(--darkBlue);
}

.industries_items>i {
  color: var(--veryLightBlue);
  font-size: 36px;
  margin: 0;
  padding: 30px 30px 0 30px;
}

.industries_items img {
  padding-top: 50px;
  width: auto;
  margin: auto;
}

.industries_items .caption>h2 {
  font-weight: 700;
  line-height: 28px;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}

/* ===== Our industries section end ===== */

/* ===== StartUp, Micro, Small & Medium Enterprise start ===== */
.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #003060 !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.startup_bg {
  margin-bottom: 0px;
  background-color: #f9f9f9;
}

/* ===== StartUp, Micro, Small & Medium Enterprise End ===== */

/* ===== Support Section start ===== */
.section-image {
  background-image: url('./assets/images/bg-parallex-img.jpg');
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 50px;
  overflow: hidden;
  background-position: center center;
}

.SupportSection_max_width {
  width: 90%;
  margin: auto;
}

.section-image p {
  margin-bottom: 0px;
  color: var(--white);
}

.SupportSection_caption {
  padding-left: 20px;
  color: #fff;
}

.SupportSection_caption h3 {
  margin: 2px 0 8px 0;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px;
}

.SupportSection_caption h3 {
  line-height: 25px;
  opacity: .8;
}

.icon-box {
  width: 60px;
  height: 50px;
  padding: 0;
  border-radius: 3px;
  font-size: 22px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
  text-align: center;
}

.icon-box i {
  color: var(--white);
}

.SupportSection_icon-box {
  transition: transform .5s;
  cursor: pointer;
}

.SupportSection_icon-box:hover {
  transform: scale(.95);
}

/* ===== StartUp, Micro, Small & Medium Enterprise end ===== */


/* ===== ValueProposition start ===== */
.section_title {
  margin-bottom: 40px;
}

.section_title h2 {
  color: #333333;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.brand_border .fa.fa-minus {
  color: #fff;
  font-size: 8px;
  height: 2px;
  background: #f8c01b none repeat scroll 0 0;
  width: 100px;
}

.brand_border .fas.fa-handshake {
  font-size: 14px;
  color: #000000;
}

.section_title p {
  color: #333333;
  font-size: 14px;
  line-height: 25px;
  padding: 14px 0;
}

.choose_us .section_title {
  margin-top: 45px;
}

#service .single_service {
  padding: 28px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 28px;
  transition: 0.5s ease all;
}

#service .single_service:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

#service .icon {
  border: 1px solid #eee;
  border-radius: 5%;
  color: #333333;
  font-size: 35px;
  line-height: 65px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  width: 70px;
}

#service .single_service .single_service-left {
  padding-right: 25px;
}

.single_service-heading {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.single_service-body p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 0px;
}

.single_service-left {
  display: table-cell;
  vertical-align: top;
}

.single_service-body {
  color: #333333;
  display: table-cell;
  vertical-align: top;
}

.hvr-curl-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}

#service .single_service:hover {
  background: var(--darkBlue);
  color: var(--white);
}

.single_service:hover .single_service-body h4 {
  font-size: 13px;
  line-height: 25px;
  margin-bottom: 0px;
  color: var(--white);
}

.single_service:hover .single_service-left i {
  color: var(--white);
}

.single_service:hover .single_service-body {
  font-size: 13px;
  line-height: 25px;
  margin-bottom: 0px;
  color: var(--white);
}

/* ===== ValueProposition End ===== */

/* ===== TechnologiesPlatform section start ===== */
.technologiesPlatform_image {
  background-image: url('./assets/images/bg-parallex-img-2.jpg');
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 50px;
  overflow: hidden;
  background-position: center center;
}

.technologiesPlatform_image h2 {
  color: var(--white);
  font-size: 36px;
}

.wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.width-650 {
  margin: auto;
  text-align: center;
}

.wrapper .circle {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: var(--lightBlue);
  margin: auto;
  transform: scale(1, 1);
}

.wrapper .circle.pulse {
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  background-color: rgba(255, 255, 255, 0.5);
}

.wrapper svg {
  fill: var(--white);
  stroke: var(--white);
  stroke-linejoin: round;
  stroke-width: 5;
  transition: all 0.3s;
}

.wrapper svg:hover {
  cursor: pointer;
  fill: var(--darkBlue);
  stroke: var(--veryLightBlue);
  transform: scale(1.2, 1.2);
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}


/* ===== TechnologiesPlatform section start ===== */


/* ===== TaxOptimization section start ===== */
.section-services {
  font-family: "Poppins", sans-serif;
  background-color: #e6edf7;
  color: #202020;
  padding-top: 115px;
  padding-bottom: 120px;
}

.section-services .header-section {
  margin-bottom: 34px;
}

.section-services .header-section .title {
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 32px;
}

.section-services .header-section .title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: var(--darkBlue);
  border-radius: 3px;
}

.section-services .header-section .title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(30px);
  width: 10px;
  height: 3px;
  background-color: #504f93;
  border-radius: 3px;
}

.section-services .header-section .description {
  font-size: 14px;
  color: #282828;
}

.section-services .single-service {
  position: relative;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 30px;
  overflow: hidden;
}

.section-services .single-service .content {
  position: relative;
  z-index: 20;
}

.section-services .single-service .circle-before {
  position: absolute;
  top: 0;
  right: 0px;
  transform: translate(40%, -40%);
  width: 150px;
  height: 150px;
  background-color: var(--darkBlue);
  border: 6px solid #504f93;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 10;
  transition: all 0.6s;
}

.section-services .single-service:hover .circle-before {
  width: 100%;
  height: 100%;
  transform: none;
  border: 0;
  border-radius: 0;
  opacity: 1;
}

.section-services .single-service .icon {
  display: inline-block;
  margin-bottom: 26px;
  width: 70px;
  height: 70px;
  background-color: var(--darkBlue);
  border-radius: 5px;
  line-height: 70px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  transition: all 0.3s;
}

.section-services .single-service:hover .icon {
  background-color: #fff;
  color: var(--darkBlue);
}

.section-services .single-service .title {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 23px;
  transition: color 0.3s;
}

.section-services .single-service:hover .title {
  color: #fff;
}

.section-services .single-service .description {
  margin-bottom: 20px;
  font-size: 14px;
  transition: color 0.3s;
}

.section-services .single-service:hover .description {
  color: #fff;
}

.section-services .single-service a {
  position: relative;
  font-size: 18px;
  color: #202020;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.section-services .single-service:hover a {
  color: #fff;
}

.section-services .single-service a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--darkBlue);
  transition: background-color 0.3s;
}

.section-services .single-service:hover a:after {
  background-color: #fff;
}

/* ===== TaxOptimization section end ===== */

/* ===== Testimonial section Start ===== */
.swiper {
  height: 300px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  width: 35px;
  height: 10px;
  border-radius: 5px;
}

.swiper-pagination-bullet-active {
  background-color: var(--darkBlue) !important;
}

.testimonial-bg {
  background-color: #e6edf7;
}

.cnt-box {
  position: relative;
  overflow: hidden;
}

.cnt-box-testimonials-bubble>p {
  border-left-width: 3px;
  border-left-style: solid;
}

.cnt-box.boxed,
.cnt-box-testimonials-bubble>p {
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
  transition: all .5s;
}

.cnt-box-testimonials-bubble>p,
.section-color .icon-box i {
  background-color: rgb(255, 255, 255);
}

.cnt-box-testimonials-bubble>p {
  border-color: #03BFCB;
}

.cnt-box-testimonials-bubble>p {
  text-align: left;
  border-radius: 3px;
  padding: 25px;
  margin-bottom: 15px;
  position: relative;
}

.cnt-box-testimonials-bubble>p:before {
  position: absolute;
  bottom: -17px;
  left: 61px;
  content: '';
  display: block;
  background: rgba(0, 0, 0, 0.66);
  transform: rotate(-45deg);
  width: 1px;
  height: 18px;
  filter: blur(2px);
}

.cnt-box-testimonials-bubble>p:after {
  border-right-color: #FFF;
}

.cnt-box-testimonials-bubble>p:after {
  position: absolute;
  bottom: -18px;
  left: 30px;
  content: '';
  display: block;
  border-width: 20px;
  border-style: solid;
  border-top-width: 2px;
  border-top-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
}

.cnt-box-testimonials-bubble .thumb-bar {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.cnt-box-testimonials-bubble .thumb-bar img {
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
}

.cnt-box-testimonials-bubble .thumb-bar img {
  max-width: 50px !important;
  max-height: 50px !important;
}

.cnt-box-testimonials-bubble .thumb-bar img {
  margin-right: 15px;
}

.cnt-box-testimonials>img,
.cnt-box-testimonials-bubble .thumb-bar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cnt-box-testimonials-bubble .thumb-bar span {
  font-weight: 700;
  line-height: 19px;
}

.cnt-box-testimonials-bubble .thumb-bar span {
  font-size: 14px;
  display: block;
}

.cnt-box-testimonials-bubble .thumb-bar span:first-child {
  color: var(--darkBlue);
}

.cnt-box-testimonials-bubble .thumb-bar span:last-child {
  color: var(--veryLightBlue);
}

/* ===== Testimonial section End ===== */

/* ===== InternationalVat section Start ===== */
.promotion-card {
  font-family: "Montserrat", sans-serif;
  /* background: #e6edf7; */
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0 0 30px 0px rgb(0 0 0 / 15%);
  border-radius: 4px;
  transition: 0.8s ease;
  cursor: pointer;
}

.promotion-card p {
  color: var(--darkBlue);
  padding: 14px;
  margin: 0px;
}

.promotion-card .promotion-content {
  color: white;
  padding: 10px 16px;
  position: relative;
  z-index: 2;
}

.promotion-card.light .promotion-content {
  color: black;
  display: flex;
  align-items: center;
}

.promotion-content .box_icon_style {
  background-color: white;
  display: flex;
  color: var(--darkBlue);
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 50px;
  padding: 50px;
  border-radius: 50px;
}

.promotion-card .promotion-blob {
  position: absolute;
  right: -80px;
  top: -80px;
  width: 360px;
  height: 360px;
  background: #e6edf7;
  ;
  border-radius: 320px;
  opacity: 0.8;
  transition: 0.5s ease;
}

.promotion-card .promotion-blob::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 240px;
  height: 240px;
  background: var(--lightBlue);
  border-radius: 320px;
  opacity: 0.9;
  transition: 0.7s ease;
}

.promotion-card .promotion-blob::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 160px;
  height: 160px;
  background: var(--darkBlue);
  border-radius: 320px;
  transition: 0.9s ease;
}

.promotion-card:hover {
  transform: translateY(-5%);
}

.promotion-card:hover .promotion-blob {
  width: 540px;
  height: 540px;
}

.promotion-card:hover .promotion-blob::after {
  width: 240px;
  height: 240px;
}

.promotion-card:hover .promotion-blob::before {
  width: 360px;
  height: 360px;
}

/* ===== InternationalVat section End ===== */

/* ===== Counter section Start ===== */
.Counter_max_width {
  width: 80%;
  margin: auto;
}

.Counter_max_width1 {
  width: 75%;
  margin: auto;
}

.boxed-area {
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
}

.box_right_border {
  padding: 30px 15px;
  border-right: 1px solid rgb(188, 206, 216);
  ;
}

.box_right_border:last-child {
  padding: 30px 15px;
  border-right: 0px solid rgb(188, 206, 216);
  ;
}

.counter_text span {
  font-family: var(--visbyLight);
  line-height: 28px;
  font-size: 16px;
}

.counter-horizontal.counter-icon {
  height: 50px;
}

.counter-horizontal.counter-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon-box i,
.icon-box-left i,
.icon-box-right i,
.counter i,
.counter-horizontal.counter-icon>i {
  padding: 15px;
  width: 60px;
  border-radius: 3px;
  font-size: 22px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
  text-align: center;
  background-color: var(--darkBlue);
}

.counter-horizontal.counter-icon>i {
  font-size: 24px;
  display: block;
  text-align: center;
  color: var(--white);
}

.counter h3,
.countdown h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  word-wrap: break-word;
  text-align: left;
}

.counter h3 {
  font-size: 16px;
  margin: 0 0 10px 0;
  color: rgb(0, 71, 103);
  font-weight: 900;
}

.counter .value {
  font-weight: 900;
  text-align: left;
}

.value h4 {
  font-weight: 600;
  color: var(--darkBlue);
}

.value span {
  color: #03BFCB;
  font-size: 28px;
}

/* ===== Counter section end ===== */

/* ===== OurTeam section Start ===== */

.team {
  padding-bottom: 70px;
  font-family: "Poppins", sans-serif;
}

.team .section-title {
  text-align: left;
  margin-bottom: 50px;
}

.team__item {
  height: 480px;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.team__item:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(34, 48, 96, 0.8);
  content: "";
  z-index: -1;
  opacity: 0;
  -webkit-transition: all, 0.5s, ease-out, 0.5s;
  -o-transition: all, 0.5s, ease-out, 0.5s;
  transition: all, 0.5s, ease-out, 0.5s;
}

.team__item:hover:after {
  opacity: 1;
}

.team__item:hover .team__text {
  top: 0;
}

.team__item:hover .team__text .team__title {
  border-bottom: 1px solid rgba(183, 183, 183, 0.2);
  padding: 15px;
  margin-bottom: 26px;
  opacity: 0;
  visibility: hidden;
  position: relative;
  bottom: initial;
  opacity: 1;
  visibility: visible;
}

.team__item:hover .team__text p {
  top: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
}

.team__item:hover .team__text .team__social {
  opacity: 1;
  visibility: visible;
  bottom: 34px;
  -webkit-transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

.team__text {
  height: 100%;
  top: 361px;
  position: relative;
  padding: 35px 30px 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.team__text .team__title {
  border-bottom: 1px solid rgba(183, 183, 183, 0.2);
  padding: 15px;
  margin-bottom: 26px;
  position: relative;
  background-color: #ffffffb0;
}

.team__text .team__title h4 {
  color: var(--darkBlue);
  font-weight: 700;
  margin-bottom: 6px;
}

.team__text .team__title span {
  font-size: 15px;
  color: var(--lightBlue);
  font-weight: 600;
}

.team__text p {
  color: #e4e4e4;
  line-height: 26px;
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.team__text .team__social {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.team__text .team__social a {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  margin-right: 34px;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.team__text .team__social a:last-child {
  margin-right: 0;
}

.team__text .team__social a:hover {
  color: #88c417;
}

@media (max-width: 768px) {
  .team__item {
    height: 350px;
  }

  .team__text {
    padding: 25px 20px 20px;
  }
}

/* ===== OurTeam section end ===== */

/* ===== Footer style start ===== */
footer {
  background-color: var(--darkBlue);
  color: var(--white);
  padding: 50px 50px 0px 50px;
  font-family: var(--visbyLight);
}

footer h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 21px;
}

footer ul {
  padding-bottom: 50px;
}

footer ul li {
  padding-bottom: 10px;
}

footer .footer-box {
  background: rgba(0, 0, 0, 0.11);
  padding: 30px;
  border-radius: 3px;
}

.footer-bar {
  border-color: rgba(255, 255, 255, 0.15);
}

.footer-bar {
  border-top-style: solid;
  border-top-width: 1px;
}

.footer-bar>.container {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  letter-spacing: .5px;
}

.footer-bar>.container>span:last-child {
  float: right;
}

.footer-bar .link-color {
  color: var(--veryLightBlue);
}

/* ===== Footer style End ===== */


/* ===== About us section Start ===== */
.about_us {
  background-image: url(./assets/images/breadcam.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0px;
  margin-bottom: 95px;
  width: 100%;
}

.about_us h1 {
  text-transform: uppercase;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 10px;
  font-weight: 900;
  color: var(--white);
}

.about_us h2 {
  color: var(--veryLightBlue);
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  font-size: 14px;
}

ol.breadcrumb_style {
  justify-content: flex-end;
  position: absolute;
  right: 30px;
  top: 50%;
  margin: -13px 0 0 0;
}

.breadcrumb_style {
  list-style: none;
  display: flex;
  margin: 40px 0 0 0;
  padding: 0;
}

.breadcrumb_style li {
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
}

.breadcrumb_style li a {
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
}

.ethicsethos h2 {
  color: var(--darkBlue);
}

.overview_text {
  font-size: 20px;
  font-style: italic;
}

.ethicsethos ul li {
  font-size: 17px;
  font-weight: 600;
  color: var(--darkBlue);
  line-height: 30px;
}


/* ===== About us section End ===== */

/* ===== Contact Us Start ===== */
.input-text,
.input-select,
.input-textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-radius: 0;
  padding: 15px 0;
  border-color: #03BFCB;
  outline: none;
  width: 100%;
}

form.form-box textarea {
  height: 100px;
}

.form-box textarea,
.form-box select,
.form-box input {
  margin: 0 0 20px 0;
  transition: all .5s;
}

.form-ajax .success-box,
.form-ajax .error-box {
  display: none;
  margin-top: 20px;
}

.btn_style {
  color: var(--white);
  background-color: var(--lightBlue);
  padding: 12px 26px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  font-family: var(--visbySemibold);
  font-size: 14px;
  border: none;
}

.section-base {
  padding-top: 80px;
  padding-bottom: 80px;
}

main>.section-map {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-map {
  position: relative;
}

.section-map>.container {
  position: relative;
  z-index: 5;
  background-color: #FFF;
  padding: 30px;
  border-radius: 3px;
  /* width: 50%; */
  margin: 0 15px;
  /* left: calc(50% - 30px); */
  transform: translateX(calc(-100% + 30px));
  width: min(440px, 90%);
}

.section-map-right>.container {
  transform: none;
}

.section-map-right>.container {
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
}

.title {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 30px;
}

.title h2 {
  font-size: 28px;
  line-height: 40px;
}

.title p {
  text-transform: uppercase;
  font-weight: 700;
  margin: -2px 0 2px 0;
  color: #03BFCB;
}

.text-list,
.text-list li {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
}

.text-list-line li {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  height: 26.5px;
  transition: all .5s;
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
}

.text-list-line li b {
  color: rgb(0, 71, 103);
  margin-right: 5px;
  white-space: nowrap;
}

.text-list-line li hr {
  margin-top: 19px;
  width: 100%;
  border-top: 1px dotted;
  background: none;
  opacity: .8;
}

.text-list-line li p {
  margin: 0 5px;
  white-space: nowrap;
  overflow: visible;
  color: rgb(64, 77, 96);
}

hr.space-sm {
  height: 30px;
}

.icon-links {
  display: flex;
}

.icon-links-grid a {
  border-style: solid;
  border-width: 1px;
  border-right: none;
  width: 50px;
  height: 40px;
  margin: 0;
  position: relative;
  cursor: pointer;
  display: block;
  transition: all 0.5s ease;
}

.icon-links-grid a:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.social-colors.icon-links-grid .facebook:not(:hover) {
  background-color: #3B5998;
  border-color: #3B5998;
  color: #FFF;
}

.social-colors.icon-links-grid .twitter:not(:hover) {
  background-color: #3B8ACA;
  border-color: #3B8ACA;
  color: #FFF;
}

.social-colors.icon-links-grid .instagram:not(:hover) {
  background-color: #464646;
  border-color: #464646;
  color: #FFF;
}

.social-colors.icon-links-grid .pinterest:not(:hover) {
  background-color: #B90B20;
  border-color: #B90B20;
  color: #FFF;
}

.icon-links-grid a:hover {
  background-color: #03BFCB;
  border-color: #03BFCB;
}

.icon-links a i {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  font-size: 18px;
  transition: all .5s;
}

.icon-social a i {
  transition: none;
  transform: translateX(-50%) translateY(calc(-50% + 2px));
}

@media (min-width: 768px) {
  .section-map>.desk_abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
  }
}

/* ===== Contact Us End ===== */

/* ===== Blog Start ===== */
.cnt-box-blog-side {
  display: flex;
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
  transition: all .5s;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.cnt-box-blog-side .icon-list,
.cnt-box-blog-top .icon-list {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 15px;
  margin-left: -30px;
  padding-left: 27px;
  padding-bottom: 10px;
  margin-top: 15px;
  border-bottom: 1px solid rgba(10, 70, 103, 0.18);
}

.icon-list-horizontal {
  display: flex;
}

.icon-list-horizontal.icon-list li {
  padding-left: 10px;
  margin-right: 25px;
  margin-bottom: 0;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  list-style: none;
}

.icon-list-horizontal.icon-list li i {
  padding-right: 8px;
  color: var(--lightBlue)
}

.cnt-box-blog-side .icon-list a,
.cnt-box-blog-top .icon-list a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

.image-box {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 3px;
  transition: all .5s;
}

.image-box img {
  max-width: 478px;
  width: 478px;
  margin-left: -127px;
}

.cnt-box-blog-side>.image-box {
  width: 30%;
}

.cnt-box-blog-side>.caption {
  width: 70%;
  padding-left: 30px;
}

.cnt-box-blog-side:hover {
  box-shadow: 0 15px 15px rgb(0 0 0 / 15%);
  transform: translateY(-5px);
}

.cnt-box-blog-side .blog-date,
.cnt-box-blog-top .blog-date {
  position: absolute;
  width: 80px;
  height: 80px;
  color: #FFF;
  z-index: 5;
  text-align: center;
}

.cnt-box-blog-side .blog-date,
.cnt-box-blog-top .blog-date {
  margin: 15px;
  border-radius: 3px;
  overflow: hidden;
  font-weight: 700;
}

.cnt-box-blog-side .blog-date span,
.cnt-box-blog-top .blog-date span {
  display: block;
}

.cnt-box-blog-side .blog-date span:first-child,
.cnt-box-blog-top .blog-date span:first-child {
  font-size: 25px;
  padding: 10px 0 10px 0;
  background-color: var(--darkBlue);
}

.cnt-box-blog-side .blog-date span:last-child,
.cnt-box-blog-top .blog-date span:last-child {
  font-weight: 600;
  font-size: 11px;
  background-color: var(--lessDarkBlue);
  padding: 3px 0;
  display: block;
}

.input-text-btn {
  display: flex;
}

.input-text-btn .input-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  margin: 0;
}

.input-text-btn .btn {
  margin: 0 0 0 10px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--white);
  background-color: var(--lessDarkBlue);
  border-color: var(--lessDarkBlue);
}

.widget>h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--darkBlue);
}

.menu-inner>ul {
  float: none;
  margin-left: 0;
}

.menu-inner-vertical>ul {
  display: block;
}

.menu-inner li {
  position: relative;
  transition: all .5s;
}

.menu-inner li:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  transition: all .5s;
  bottom: 0;
  left: 0;
  background-color: var(--lightBlue);
}

.menu-inner li:hover:before,
.menu-inner li.active:before {
  width: 100%;
}

.menu-inner li>a {
  height: 50px;
  line-height: 50px;
  display: block;
  position: relative;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all .5s;
  color: rgb(64, 77, 96);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

.menu-inner li:hover>a {
  color: var(--lightBlue);
}

.menu-inner-vertical li>a {
  border-radius: 0;
  border-bottom: 1px solid rgba(10, 70, 103, 0.25);
}

hr.space-sm,
hr.space-xs {
  height: 15px;
  border: none;
  clear: both;
  margin: 0;
}

hr.space-sm {
  height: 30px;
}

hr.space-xs {
  height: 15px;
}

.menu-inner-image li {
  padding-left: 0;
  border-bottom: 1px solid rgba(10, 70, 103, 0.25);
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.menu-inner-image li:last-child {
  border-bottom: none;
}

.menu-inner-image.menu-inner li>a {
  text-transform: none;
  font-size: 14px;
  height: 75px;
  overflow: hidden;
  line-height: 25px;
  padding-right: 90px;
  border: none;
  font-weight: 700;
  display: block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  transition: all .5s;
}

.menu-inner-image li img {
  position: absolute;
  left: auto;
  right: 0;
  max-height: 65px;
  max-width: 65px;
  height: 65px;
  border-radius: 3px;
}

.menu-inner-image li a span {
  font-weight: 600;
  text-transform: none;
  opacity: .75;
  margin-bottom: 7px;
  display: block;
  line-height: 15px;
  font-size: 12px;
  color: var(--darkBlue);
}

.list-tags {
  margin: -5px;
}

.list-tags a {
  background-color: var(--darkBlue);
  display: inline-block;
  padding: 6px 14px;
  border-radius: 3px;
  transition: all .5s;
  margin: 5px;
  font-size: 13px;
  cursor: pointer;
  color: var(--white) !important;
  line-height: 18px;
  text-transform: uppercase;
}

.list-tags a:hover {
  color: var(--white) !important;
  background-color: var(--veryLightBlue);
}

/* ===== Blog End ===== */